body {
    margin:0;
    padding:0;
}
  #map {
    position:relative;
    height: 600px;
    width:100%;
    }
  
  .map-legend ul {
    list-style: none;
    padding-left: 0;
    }
  .map-legend .swatch {
    width:20px;
    height:20px;
    float:left;
    margin-right:10px;
    }
  .leaflet-popup-close-button {
    display: none;
  }
  .leaflet-popup-content-wrapper {
    pointer-events: none;
  }

    .filter-form .form-control{
      border: 1px solid #000;
      border-radius: 0px;
      color: #000;
      width: 100%;
    }

.map-read-story a{
    font-weight: bold;
    color: red;
}
.map-date{
    color: #000;
}